body {



}

.navbar-brand img {
    background-size: contain;
    height: 40px;

}

div.container.position-absolut {
    z-index: 0;
    position: absolute;
}
div.col-sm-6.col-md-4.align-items-stretch {
    z-index: 2;
}
.fa-solid.fa-arrow-right-long{ 
    color: #728299;
}
.container img {
    width: 100%;
    background-size: cover;
    height: 100%;
    object-fit: cover; 
}
div.container.col-md-12{
    padding: 0px;
}

.col-md-4 {
    /* max-width: 100%;
    min-height:630px; */
    padding-bottom: 20px;
}
.jumbotron {
    box-shadow:  5px 5px 38px #fffefec5,
                -5px -5px 38px #f2f2f2c1;
}
.navbar {
    box-shadow:  5px 5px 38px #fffefec5,
                -5px -5px 38px #f2f2f2c1;
}


/* MENU PAGE  */

div.col-md-4.col-sm-12.col-lg-3.mx-2.my-2{
    padding: 0px;
    border-radius: 0px;
}

div.container.text-start {
    width: 80vw;
}

/* product */

.container.row.justify-content-around {
    margin: 0px;
    padding: 0px;
}


/* BUY PRODUCT */

.table-product.table-striped tbody tr:nth-of-type(odd) {
    background-color: #f3f8fa!important
}
.table-product td{
    border-top: 0px solid #dee2e6 !important;
    color: #728299!important;
}



/* div.card-body{
    padding-right: 5rem;
} */


/* aboutus */

#back {
    z-index: -1;
    position: absolute;
    width: 100%;
    object-fit: cover;
    display: block;

}

/* form */

.terms {
    word-break: break-words;
}

#love{
    max-width:100%;
    max-height:100%
    }
