body {
    margin-left: 3rem;
    margin-right: 3rem;
    background-color: rgb(48,49,52);
}

.p-5text-centerbg-image (   
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;

)